body{
  background-image: linear-gradient(to bottom, rgba(245, 8, 87), rgb(70, 6, 245));
  height: 100vh;
}

h1{
  text-align: center;
}
.zepe{
  text-align: center;
  border-style: double;
  width: 400px;
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(to bottom, rgba(245, 8, 87), rgb(70, 6, 245));
}
input{
  border-radius: 10px;
  text-align: center;
  font-size: medium;
  width: 130px;
  height: 30px;
}
button{
  background-color: rgba(245, 8, 87);
  width: 80px;
  height: 30px;
  border-radius: 20px;
  transition: 0.5s;

}
button:hover{
  background-color: rgba(193, 238, 193);
}